.icon {
  width: 1em;
  height: 1em;
  overflow: hidden;
  vertical-align: -0.15em;
  fill: currentColor;
}

.content-container {
  position: fixed;
  top: 60px;
  left: 220px;
  box-sizing: border-box;
  width: calc(100vw - 220px);
  height: calc(100vh - 90px - 60px);
  padding: 10px;
}
